{extends 'layout.latte'}

{block title}Pridanie stretnutia{/block}

{block body}
    <div class="container">
        <br>
        <h1>{include title}</h1>
        <br>
        <form method="post" action="{link add-meeting}">
        <div class="row">
            <div class="col-6">
                <h2>Detaily stretnutia</h2>
                    <label>Štart</label>
                    <input type="date" name="start" class="form-control" value="{$form['start']}"><br>
                    <label>Popis</label>
                    <input type="text" name="desc" class="form-control" value="{$form['desc']}"><br>
                    <label>Travanie</label>
                    <input type="text" placeholder="hh:mm:ss" name="dur" class="form-control" value="{$form['dur']}"><br>
            </div>
            <div class="col-6">
                <h2>Miesto konania</h2>
                <label>Mesto</label>
                <input type="text" name="city" class="form-control" value="{$form['city']}"><br>
                <label>Ulica</label>
                <input type="text" name="stna" class="form-control" value="{$form['stna']}"><br>
                <label>Číslo ulice</label>
                <input type="text" name="stnu" class="form-control" value="{$form['stnu']}"><br>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">
            <span class="fa fa-plus"></span>
            Pridaj
        </button>
        </form>
    </div>
{/block}