{extends 'layout.latte'}

{block title}Pridanie vzťahu{/block}

{block body}
    <div class="container">
        <br>
        <h1>{include title}</h1>
        <div class="row">
            <div class="col-6">
                <form method="post" action="{link add-relation}?id={$id}">
                    <label>Druh</label>
                    <select name="name" class="form-control">
                        <option value="">Nezname</option>
                        {foreach $relation_type as $rt}
                            <option value="{$rt['name']}">{$rt['name']}</option>
                        {/foreach}
                    </select>
                    <br>
                    <label>Osoba</label>
                    <select class="form-control" name="person">
                        <option value="">--vyyber osobu--</option>
                        {foreach $persons as $person}
                            {if $person !=''}
                                <option value="{$person['id_person']}">{$person['person']}</option>
                            {/if}
                        {/foreach}

                    </select>
                    <br>
                    <button type="submit" class="btn btn-primary">
                        <span class="fa fa-plus"></span>
                        Pridaj
                    </button>
                </form>
            </div>
        </div>
    </div>
{/block}