{extends 'layout.latte'}

{*{block title}Pridat osobu{/block}*}

{*{block body}*}
{*<div class="container">*}
{*<h1>{include title}</h1>*}
{*<form method="post" action="{link add-person}">*}
{*<label>Jmeno</label>*}
{*<input type="text" name="fn" class="form-control"*}
{*value="{$form['fn']}"><br>*}
{*<label>Prijmeni</label>*}
{*<input type="text" name="ln" class="form-control"*}
{*value="{$form['ln']}"><br>*}
{*<label>Prezdivka</label>*}
{*<input type="text" name="nn" class="form-control"*}
{*value="{$form['nn']}"><br>*}

{*<label>Pohlavi</label>*}
{*<select name="g" class="form-control">*}
{*<option value="">Nezname</option>*}
{*<option value="male">Muz</option>*}
{*<option value="female">Zena</option>*}
{*</select>*}
{*<br>*}

{*<label>Výška</label>*}
{*<input type="number" name="v" value="{$form['v']}" class="form-control">*}
{*<br>*}

{*<label>Dátum narodenia</label>*}
{*<input type="date" name="bd" value="{$form['bd']}" class="form-control">*}
{*<br>*}

{*<button type="submit" class="btn btn-primary">*}
{*<span class="fa fa-save"></span>*}
{*Pridat*}
{*</button>*}
{*</form>*}
{*</div>*}
{*{/block}*}

{block title}Pridat osobu{/block} {*s adresou*}

{block body}
    <div class="container">
        <br>
        <h1>{include title}</h1>
        <form method="post" action="{link add-person}">

            <div class="row">
                <div class="col-6">
                    <label>Jmeno *</label>
                    <input type="text" name="fn" class="form-control"
                           value="{$form['fn']}"><br>
                    <label>Prijmeni *</label>
                    <input type="text" name="ln" class="form-control"
                           value="{$form['ln']}"><br>
                    <label>Prezdivka *</label>
                    <input type="text" name="nn" class="form-control"
                           value="{$form['nn']}"><br>

                    <label>Pohlavi</label>
                    <select name="g" class="form-control">
                        <option value="">Nezname</option>
                        <option value="male">Muz</option>
                        <option value="female">Zena</option>
                    </select>
                    <br>

                    <label>Výška</label>
                    <input type="number" name="v" value="{$form['v']}" class="form-control">
                    <br>

                    <label>Dátum narodenia</label>
                    <input type="date" name="bd" value="{$form['bd']}" class="form-control">
                    <br>

                    <label>Facebook kontakt</label>
                    <input type="text" name="fb" class="form-control"
                           value="{$form['fb']}"><br>

                    <label>Email</label>
                    <input type="text" name="em" class="form-control"
                           value="{$form['em']}"><br>

                    <label>Telefónne číslo</label>
                    <input type="text" name="tel" class="form-control"
                           value="{$form['tel']}"><br>

                </div>
                <div class="col-6">
                    <label>Mesto</label>
                    <input type="text" name="ci" class="form-control" value="{$form['ci']}">
                    <br>

                    <label>Ulica</label>
                    <input type="text" name="st" class="form-control" value="{$form['st']}">
                    <br>


                    <label>Cislo domu</label>
                    <input type="text" name="cd" class="form-control" value="{$form['cd']}">
                    <br>

                    <label>PSC</label>
                    <input type="text" name="psc" class="form-control" value="{$form['psc']}">
                    <br>
                </div>
            </div>

            <label>Zánamy s * sú povinné!</label>
            <br>
            <button type="submit" class="btn btn-primary">
                <span class="fa fa-save"></span>
                Pridat
            </button>
        </form>
    </div>
{/block}