{extends 'layout.latte'}

{block title}Pridanie kontaktu{/block}

{block body}
    <div class="container">
        <br>
        <h1>{include title}</h1>
        <form method="post" action="{link add-contact}?id={$id}">
            {foreach $cont_types as $ct}
                <div style="display:none">
                    {if empty($form)}
                        {$value=""}
                    {else}
                        {$value=$form[$ct['name']]}
                    {/if}
                </div>
                <label>{$ct['name']}</label>
                <input type="text" name="{$ct['name']}" class="form-control" value="{$value}"><br>
            {/foreach}
            <button type="submit" class="btn btn-primary">
                <span class="fa fa-plus"></span>
                Pridaj
            </button>
        </form>
    </div>
{/block}