{extends 'layout.latte'}

{block title}Kontakty{/block}

{block body}
    <div class="container">
        <br>
        <h1>{include title}</h1>
        <table class="table table-striped">
            {if $contacts<>null}
            {foreach $contacts as $c}
                <tr>
                    <td>{$c['name']}</td>
                    <td>{$c['contact']}</td>
                    <td>
                        <a href="{link edit-contact}?id={$c['id_contact']}" class="btn btn-dark">
                            <span class="fa fa-edit"></span>
                        </a>
                    </td>
                    <td>
                        <form method="post" action="{link delete-contact}?id={$c['id_contact']}" onsubmit="return confirm('Najozaj zmazat?')">
                            <button type="submit" class="btn btn-danger">
                                <span class="fa fa-trash"></span>
                            </button>
                        </form>
                    </td>
                </tr>
            {/foreach}
            {else}
                <label>Osoba nemá žiadne kontakty.</label>
            {/if}
        </table>
        <a href="{link add-contact}?id={$id}" class="btn btn-primary">
            <span class="fa fa-plus"></span>
        </a>
    </div>
{/block}