{extends 'layout.latte'}

{block title}Detail osoby: {/block}

{block body}
    <div class="container">
        <br>
        <h1>{include title}{$form['fn']}</h1>
        <div class="row">
            <div class="col-6">
                <br>
                <b>Priezvisko: </b>
                <label>{$form['ln']}</label> <br>
                <b>Prezívka: </b>
                <label>{$form['nn']}</label> <br>
                <br>
            </div>
            <div class="col-6">
                {if !empty($form['c'])}
                    <b>Mesto: </b>
                    <label>{$form['c']}</label> <br>
                    <b>Ulica: </b>
                    <label>{$form['st']}</label> <br>
                    <b>Číslo ulice: </b>
                    <label>{$form['stn']}</label> <br>
                    <b>Krajina: </b>
                    <label>{$form['co']}</label> <br>
                {/if}
            </div>
        </div>
        <h2>Kontakty</h2>
        <table class="table table-striped">
            {if $contacts<>null}
                {foreach $contacts as $c}
                    <tr>
                        <td>{$c['name']}</td>
                        <td>{$c['contact']}</td>
                        <td>
                            <a href="{link edit-contact}?id={$c['id_contact']}" class="btn btn-dark">
                                <span class="fa fa-edit"></span>
                            </a>
                        </td>
                        <td>
                            <form method="post" action="{link delete-contact}?id={$c['id_contact']}"
                                  onsubmit="return confirm('Najozaj zmazat?')">
                                <button type="submit" class="btn btn-danger">
                                    <span class="fa fa-trash"></span>
                                </button>
                            </form>
                        </td>
                    </tr>
                {/foreach}
            {else}
                <label>Osoba nemá žiadne kontakty.</label>
            {/if}
        </table>
        <a href="{link add-contact}?id={$id}" class="btn btn-primary">
            <span class="fa fa-plus"></span>
        </a>
        <br><br>
        <h2>Vzťahy</h2>
        <table class="table table-striped">
            {if $relations<>null}
                {foreach $relations as $r}
                    <tr>
                        <td>{$r['name']}</td>
                        <td>{$r['first_name']}</td>
                        <td>{$r['last_name']}</td>
                        <td>
                            <form method="get" action="{link edit-relation}">
                                <div style="display:none">
                                    <input name="idr" value="{$r['id_relation']}">
                                    <input name="idp" value="{$id}">
                                </div>
                                <button type="submit" class="btn btn-dark"1>
                                    <span class="fa fa-edit"></span>
                                </button>
                            </form>
                        </td>
                        <td>
                            <form method="post" action="{link delete-relation}?idr={$r['id_relation']}"
                                  onsubmit="return confirm('Najozaj zmazať?')">
                                <div style="display:none">
                                    <input name="idp" value="{$id}">
                                </div>
                                <button type="submit" class="btn btn-danger"1>
                                    <span class="fa fa-trash"></span>
                                </button>
                            </form>
                        </td>
                    </tr>
                {/foreach}
            {else}
                <label>Osoba nemá žiadne vzťahy.</label>
            {/if}
        </table>
        <a href="{link add-relation}?id={$id}" class="btn btn-primary">
            <span class="fa fa-plus"></span>
        </a>
        <br><br>

        <h2>Počet schôdzok</h2>
        <a href="{link meetings-person}?id={$form['id']}">
            <span class="btn btn-secondary">{$form['s']}</span>
        </a>
        <br>

    </div>
{/block}