{extends 'layout.latte'}

{block title}Úprava vyťahu{/block}

{block body}
    <div class="container">
        <br>
        <h1>{include title}</h1>
        <form method="post" action="{link edit-relation}?idr={$idr}">
            <label>Druh</label>
            <select name="name" class="form-control">
                <option value="">Neznámy</option>
                {foreach $relation_type as $rt}
                    <option value="{$rt['name']}">{$rt['name']}</option>
                {/foreach}
            </select>
            <br>
            <label>Meno</label>
            <input type="text" name="fn" class="form-control" value="{$form['fn']}"><br>
            <label>Priezvisko</label>
            <input type="text" name="ln" class="form-control" value="{$form['ln']}"><br>
            <label>Prezívka</label>
            <input type="text" name="nn" class="form-control" value="{$form['nn']}"><br>
            <br>
            <div style="display:none">
                <input name="idp" value="{$idp}">
            </div>
            <button type="submit" class="btn btn-primary">
                <span class="fa fa-edit"></span>
                Uprav
            </button>
        </form>
    </div>
{/block}