{extends 'layout.latte'}

{block title}Pridat osobu{/block}

{block body}
    <div class="container">
        <h1>{include title}</h1>
        <form method="post" action="{link edit-person}?id={$id}">
            <label>Jmeno</label>
            <input type="text" name="fn" class="form-control"
                   value="{$form['fn']}"><br>
            <label>Prijmeni</label>
            <input type="text" name="ln" class="form-control"
                   value="{$form['ln']}"><br>
            <label>Prezdivka</label>
            <input type="text" name="nn" class="form-control"
                   value="{$form['nn']}"><br>

            <label>Pohlavi</label>
            <select name="g" class="form-control">
                <option value="">Nezname</option>
                <option value="male">Muz</option>
                <option value="female">Zena</option>
            </select>
            <br>

            <label>Výška</label>
            <input type="number" name="h" value="{$form['h']}" class="form-control">
            <br>

            <label>Dátum narodenia</label>
            <input type="date" name="bd" value="{$form['bd']}" class="form-control">
            <br>

            <button type="submit" class="btn btn-primary">
                <span class="fa fa-edit"></span>
                Uprav
            </button>
        </form>
    </div>
{/block}