{extends 'layout.latte'}

{block title}Úprava kontaktu{/block}

{block body}
    <div class="container">
        <br>
        <h1>{include title}</h1>
        <form method="post" action="{link edit-contact}?id={$id}">
            <label>{$form['name']}</label>
            <input type="text" name="co" class="form-control" value="{$form['co']}">
            <br>

            <button type="submit" class="btn btn-primary">
                <span class="fa fa-edit"></span>
                Uprav
            </button>
        </form>
    </div>
{/block}