{*{extends layout.latte}*}

{*{block title}TITLE OF PAGE{/block}*}

{*{block body}*}
    {*<div class="container">*}
        {*<h1>BODY CONTENT</h1>*}

        {*<form action="{link redir}" method="post">*}
            {*<label>Type your name:</label>*}
            {*<input class="form-control" type="text" name="person" />*}
            {*<br />*}
            {*<button type="submit" class="btn btn-primary">*}
                {*<span class="fa fa-check"></span> OK*}
            {*</button>*}
        {*</form>*}
    {*</div>*}
{*{/block}*}