<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <title>{include title}</title>
    <link rel="stylesheet" href="{$basePath}/css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="{$basePath}/css/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="{$basePath}/css/custom.css">
    <script type="text/javascript" src="{$basePath}/js/jquery.js"></script>
    <script type="text/javascript" src="{$basePath}/css/bootstrap/js/bootstrap.bundle.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {ifset meta}{include meta}{/ifset}
</head>
<body>
<!-- menu -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">APV</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{link persons}">
                    Výpis osôb
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{link meetings}">
                    Výpis stretnutí
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{link add-person}">
                    Pridať osobu
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{link add-meeting}">
                    Vytvoriť stretnutie
                </a>
            </li>
            {if !empty($_SESSION['user'])}
                <li class="nav-item">
                    <a class="nav-link" href="{link logout}">
                        Odhlasit {$_SESSION['user']['login']}
                    </a>
                </li>
            {else}
                <li class="nav-item">
                    <a class="nav-link" href="{link registration}">
                        Registrovať
                    </a>
                </li>
            {/if}
        </ul>
    </div>
</nav>

<!-- chyba, pokud je -->
{if !empty($error)}
    <div class="container">
        <div class="alert alert-danger">
            {$error}
        </div>
    </div>
{/if}

<!-- vlastni obsah -->

{include body}

</body>
</html>