{extends 'layout.latte'}

{block title}Prihlasenie{/block}

{block body}
<div class="container">
    <div class="row">
        <div class="col-lg-4 offset-lg-4 mt-4">
            <h1>{include title}</h1>
            <form method="post" action="{link login}">
                <label>Login</label>
                <input type="text" name="login" class="form-control"><br>
                <label>Heslo</label>
                <input type="password" name="pass" class="form-control"><br>
                <button type="submit" class="btn btn-primary">
                    <span class="fa fa-save"></span>
                    Prihlasit
                </button>
            </form>
        </div>
    </div>
</div>