{extends 'layout.latte'}

{block title}Stretnutia{/block}

{block body}
    <div class="container">
        <br>
        <h1>{include title}</h1>
        <table class="table table-striped">
            {if $meetings<>null}
                <tr>
                    <th>Začiatok</th>
                    <th>Trvanie</th>
                    <th>Počet účastníkov</th>
                    <th>Mesto</th>
                    <th>Ulica</th>
                    <th>Číslo ulice</th>
                    <th>Popis</th>
                </tr>
                {foreach $meetings as $m}
                    <tr>
                        <td>{$m['start']}</td>
                        <td>{$m['duration']}</td>
                        <td>
                            <a href="{link uc-meeting}?id={$m['id_meeting']}">
                                <span class="btn btn-secondary">{$m['poc_u']}</span>
                            </a>
                        </td>
                        <td>{$m['city']}</td>
                        <td>{$m['street_name']}</td>
                        <td>{$m['street_number']}</td>
                        <td>{$m['description']}</td>
                    </tr>
                {/foreach}
            {else}
                <label>Neexistujú žiadne stretnutia.</label>
            {/if}
        </table>
    </div>
{/block}