{extends 'layout.latte'}
{block title}Pridať osobu ku stretnutiu, konajúceho sa: {/block}
{block body}
    <div class="container">
        <h1>{include title}</h1>
        <h2>{$meeting['start']}</h2>
        <form method="post" action="{link meeting-add-person}?id={$id}">
            <div class="row">
                <div class="col-6">
                    <label>Osoba</label>
                    <select class="form-control" name="person">
                        <option value="">--vyyber osobu--</option>
                        {foreach $persons as $person}
                            {if $person !=''}
                                <option value="{$person['id_person']}">{$person['person']}</option>
                            {/if}
                        {/foreach}

                    </select>
                    <br>
                    <button type="submit" class="btn btn-primary">
                        <span class="fa fa-plus"></span>
                        Pridat
                    </button>
                </div>
            </div>
        </form>
    </div>
{/block}