{extends 'layout.latte'}

{block title}Stretnutia osoby: {/block}

{block body}
    <div class="container">
        <br>
        <h1>{include title}{$person}</h1>
        <table class="table table-striped">
            {if $meetings<>null}
                <tr>
                    <th>Začiatok</th>
                    <th>Trvanie</th>
                    <th>Počet účastníkov</th>
                    <th>Mesto</th>
                    <th>Ulica</th>
                    <th>Číslo ulice</th>
                    <th>Popis</th>
                    <th>Odobrať</th>

                </tr>
                {foreach $meetings as $m}
                    <tr>
                        <td>{$m['start']}</td>
                        <td>{$m['duration']}</td>
                        <td>
                            <a href="{link uc-meeting}?id={$m['id_meeting']}">
                                <span class="btn btn-secondary">{$m['poc_u']}</span>
                            </a>
                        </td>
                        <td>{$m['city']}</td>
                        <td>{$m['street_name']}</td>
                        <td>{$m['street_number']}</td>
                        <td>{$m['description']}</td>
                        <td>
                            <form method="post" action="{link person-delete-meeting}?id={$id}" onsubmit="return confirm('Najozaj odobrať?')">
                                <div style="display:none">
                                    <input name="idm" value="{$m['id_meeting']}">
                                </div>
                                <button type="submit" class="btn btn-danger">
                                    <span class="fa fa-minus"></span>
                                </button>
                            </form>
                        </td>
                    </tr>
                {/foreach}
            {else}
                <label>Osoba nemá žiadne stretnutia.</label>
            {/if}
        </table>
        <a href="{link person-add-meeting}?id={$id}" class="btn btn-primary">
            <span class="fa fa-plus"></span>
        </a>
    </div>
{/block}