{extends 'layout.latte'}

{block title}Vypis osob{/block}

{block body}
    <div class="container">
        <br>
        <form method="get" action="{link persons}">
            <input type="text" name="q" value="{$q}" class="form-control">
            <button type="submit" class="btn btn-primary">
                <span class="fa fa-search"></span>
                Hledat
            </button>
        </form>

        <h1>{include title}</h1>
        <table class="table table-striped">
            <tr>
                <th>Jmeno</th>
                <th>Prijmeni</th>
                <th>Prezdivka</th>
                <th>Adresa</th>
                <th>Pocet schuzek</th>
                <th>Pocet kontaktu</th>
                <th>Pocet vzťahov</th>
                <th>Upravit</th>
                <th>Zmazat</th>

            </tr>
            {foreach $people as $p}
                <tr>
                    <td class="upper">
                    <a href="{link detail-person}?id={$p['id_person']}">
                        <span class="btn btn-secondary">{$p['first_name']}</span>
                    </a>
                    </td>

                    <td>{$p['last_name']}</td>
                    <td>{$p['nickname']}</td>
                    <td>
                        {if $p['id_location']}
                            {$p['street_name']}
                            {$p['street_number']}
                            {$p['city']}
                        {/if}
                    </td>
                    <td>
                        <a href="{link meetings-person}?id={$p['id_person']}">
                            <span class="btn btn-secondary">{$p['pocet_s']}</span>
                        </a>
                    </td>
                    <td>
                        <a href="{link detail-person}?id={$p['id_person']}">
                            <span class="btn btn-secondary">{$p['pocet_k']}</span>
                        </a>
                    </td>
                    <td>
                        <a href="{link detail-person}?id={$p['id_person']}">
                            <span class="btn btn-secondary">{$p['pocet_v']}</span>
                        </a>
                    </td>
                    <td>
                        <a href="{link edit-person}?id={$p['id_person']}" class="btn btn-dark">
                            <span class="fa fa-edit"></span>
                        </a>
                    </td>
                    <td>
                        <form method="post" action="{link delete-person}?id={$p['id_person']}" onsubmit="return confirm('Najozaj zmazat?')">
                            <button type="submit" class="btn btn-danger">
                                <span class="fa fa-trash"></span>
                            </button>
                        </form>
                    </td>
                </tr>
            {/foreach}
        </table>
    </div>
{/block}