{extends 'layout.latte'}
{block title}Pridať stretnutiu k osobe: {/block}
{block body}
    <div class="container">
        <h1>{include title}</h1>
        <h2>{$person['first_name']}</h2>
        <form method="post" action="{link person-add-meeting}?id={$id}">
            <div class="row">
                <div class="col-6">
                    <label>Stretnutie</label>
                    <select class="form-control" name="meeting">
                        <option value="">--vyyber stretnutie--</option>
                        {foreach $meetings as $meeting}
                            {if $meeting !=''}
                                <option value="{$meeting['id_meeting']}">{$meeting['data']}</option>
                            {/if}
                        {/foreach}
                    </select>
                    <br>
                    <button type="submit" class="btn btn-primary">
                        <span class="fa fa-plus"></span>
                        Pridat
                    </button>
                </div>
            </div>
        </form>
    </div>
{/block}