{extends 'layout.latte'}

{block title}Vzťahy{/block}

{block body}
    <div class="container">
        <br>
        <h1>{include title}</h1>
        <table class="table table-striped">
            {if $relations<>null}
                {foreach $relations as $r}
                    <tr>
                        <td>{$r['name']}</td>
                        <td>{$r['first_name']}</td>
                        <td>{$r['last_name']}</td>
                        <td>
                            <a href="{link edit-contact}?id={$c['id_contact']}" class="btn btn-dark">
                                <span class="fa fa-edit"></span>
                            </a>
                        </td>
                        <td>
                            <form method="post" action="{link delete-contact}?id={$c['id_contact']}" onsubmit="return confirm('Najozaj zmazat?')">
                                <button type="submit" class="btn btn-danger">
                                    <span class="fa fa-trash"></span>
                                </button>
                            </form>
                        </td>
                    </tr>
                {/foreach}
            {else}
                <label>Osoba nemá žiadne vzťahy.</label>
            {/if}
        </table>
        <a href="{link add-contact}?id={$id}" class="btn btn-primary">
            <span class="fa fa-plus"></span>
        </a>
    </div>
{/block}