{extends 'layout.latte'}

{block title}Účastníci stretnutia, konajúceho sa: {/block}

{block body}
    <div class="container">
        <br>
        <h1>{include title}{$meeting}</h1>
        <table class="table table-striped">
            {if $uc<>null}
                <tr>
                    <th>Meno</th>
                    <th>Priezvisko</th>
                    <th>Odobrať</th>

                </tr>
                {foreach $uc as $u}
                    <tr>
                        <td>{$u['first_name']}</td>
                        <td>{$u['last_name']}</td>
                        <td>
                            <form method="post" action="{link meeting-delete-person}?id={$id}" onsubmit="return confirm('Najozaj odobrať?')">
                                <div style="display:none">
                                    <input name="idp" value="{$u['id_person']}">
                                </div>
                                <button type="submit" class="btn btn-danger">
                                    <span class="fa fa-minus"></span>
                                </button>
                            </form>
                        </td>
                    </tr>
                {/foreach}
            {else}
                <label>Stretnutie nemá žiadneho účastníka.</label>
            {/if}
        </table>
        <a href="{link meeting-add-person}?id={$id}" class="btn btn-primary">
            <span class="fa fa-plus"></span>
        </a>
        <br><br>
    </div>
{/block}